{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/consistent-type-definitions": ["warn", "type"]
  }
}
